@import '/node_modules/bulma/css/bulma.css';

@import 'partials/colors';
@import 'partials/fonts';

#svg {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	#parent {
		position: absolute;
		bottom: 0;
		right: 0;
		max-height: 100vh;

		#container {
			position: absolute;
			right: 0;
		}
	}
}
